<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/events.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    </head>

  <body>
    <nav>
      <a class="logo" href="/">Schoodle</a>
    </nav>
    <main>
      <div class="event-background d-flex p-2">
        <h1><%=title%></h1>

        <p>Created by: <%=name%></p>
        <p>Location: <%=location%></p>
        <p>Details: <%=details%></p>
          <table class="event-table d-flex justify-content-center">
          <tr id="voteslength">
          <% var limit = 0 %>
            <th>Vote for the Times That Your Prefer</th>
            <% for(i = 0; i < startSlotsArray.length; i++){ %>
              <th><%= startSlotsArray[i].toString().slice(0, 21) %> <br /> to <br /> <%= endSlotsArray[i].toString().slice(0, 21)%></th>
              <%limit = startSlotsArray.length%>
            <% } %>
          </tr>
          <tr class="new">
            <td class="new-part">New Participant <i class="fas fa-user-plus icon"></i></td>
          </tr>
          <% for (i = 0; i < vote_data.length; i++) { %>
          <tr class="add-new">
            <td class="user"><p class="username"><%= vote_data[i].vote_data.name %></p> <br /> <p class="useremail"><%= vote_data[i].vote_data.email %></p> <br /> <i class="fas fa-edit icon"></i></td>

            <% for(x = 0; x < startSlotsArray.length; x++){ %>

                <% for(var item in vote_data[i].vote_data) { %>
                <%if (item[2] !== 'a' && item[2] !== 'm' && vote_data[i].vote_data[item] === 'true'){ %>
                  <td><input type="checkbox" class="votebox" checked disabled="disabled" value=<%=item%> </td>
                  <%x++%>
                <% } else if (item[2] !== 'a' && item[2] !== 'm'){%>
                  <td><input type="checkbox" class="votebox" disabled="disabled" value=<%=item%> </td>
                  <%x++%>
                  <% } %>
              <% } %>
            <% } %>
          </tr>
          <% } %>
        </table>
    </div>
  </main>
  </body>
</html>
