<!DOCTYPE html>
<html lang="en">
  <head>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/events.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Oswald" rel="stylesheet">

    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    </head>

  <body>
    <nav>
      <a class="logo" href="/">Schoodle</a>
    </nav>
    <main>

    <h1><%=title%></h1>

    <p>Created by: <%=name%></p>
    <p>Location: <%=location%></p>
    <p>Details: <%=details%></p>
      <table class="event-table">
      <tr id="voteslength">
        <th></th>
        <% for(i = 0; i < startSlotsArray.length; i++){ %>
          <th><%= startSlotsArray[i].toString().slice(0, 21) %> to <%= endSlotsArray[i].toString().slice(0, 21)%></th>
        <% } %>
        <th><%=vote_data%></th>
      </tr>
      <tr class="new">
        <td class="new-part">New Participant <i class="fas fa-user-plus icon"></i></td>
      </tr>
    </table>
  </main>
  </body>
</html>
